*.spec
/dist
/build
/.venv
/.vs
/bin
/FrontLineOverlay/FrontLineOverlay/obj
/FrontLineOverlay/FrontLineOverlay/bin
__pycache__/
/FrontLineOverlay.exe
/FrontLineOverlay.dll
/FrontLineOverlay.pdb
/FrontLineOverlay.deps.json
/FrontLineOverlay.runtimeconfig.json